
    <!-- HEADER DESKTOP-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" style="background-color: #070008;">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="assets\images\Event-icon-300x284.png" alt="" width="30" height="24"class="d-inline-block align-text-top">
          Events
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
        </div>
      </div>
    </nav>
    <app-event-list></app-event-list>

<footer>
  <ul>
    <li><a href="#"></a></li>
  </ul>
</footer>